.products {
  @include list-none;
}

.products__item {
  margin-bottom: 20px;
}

@include respond-to(520px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .products__item {
    width: 50%;
    padding: 0 10px;
  }
}

@include respond-to(1120px) {
  .products__item {
    width: 33.33%;
  }
}
