mixin products(data)
    +el({
        tag: 'ul',
        class: 'products',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        each item in data.items
            +el({
                tag: 'li',
                class: 'products__item',
            })
                +products-card({
                    image: item.image,
                    heading: item.heading,
                    oldPrice: item.oldPrice,
                    art: item.art,
                    newPrice: item.newPrice,
                    hit: item.hit,
                    new: item.new,
                    action: item.action
                })
