extends ./templates/template

block vars
    - var pageTitle = 'Южхим: О компании'
    - var main = false
    - var pageId = 1

block content
    main.content
        +about({
            mix: 'content__about'
        })
