extends ./templates/template

block vars
    - var pageTitle = 'Южхим: О компании'
    - var main = false
    - var pageId = 1

block content
    main.content.content--regular
        +about({
            mix: 'content__about'
        })

    +modal({
        js: 'modal-callback',
        heading: 'Обратный звонок',
    })
        +form({
            card: true,
            user: true,
            tel: true,
            confirm: true,
            submit: 'Заказать',
        })
