extends ./templates/template

block vars
    - var pageTitle = 'Южхим: Статьи'
    - var main = false
    - var pageId = 3

block content
    main.content
        .content__wrap
            h1.content__heading
                | Статьи
            +post-list({
                items: posts
            })
            +pagination({
                mix: 'content__pagination',
            })
