extends ./templates/template

block vars
    - var pageTitle = 'Южхим: Статьи'
    - var main = false
    - var pageId = 3

block content
    main.content.content--with-article
        .content__wrap
            +breadcrumbs({
                mix: 'content__breadcrumbs',
                items: [
                    'Главная',
                    'Статья',
                    'Статья заголовок'
                ]
            })
            article.article.article--center
                +date({
                    text: '21 марта 2019',
                })
                h1
                    | Покраска деревянных изделий: <br>выбор состава и методы работы
                p.
                    При покраске древесина не только обретает выгодные физические свойства, но и приоб-
                    ретает более приятный внешний вид. Так, недорогие породы после покраски выглядят, как благородное дерево.

                p.
                    Многие не знают, как правильно красить деревянные изделия, но это совсем не сложный процесс,
                    который легко выполняется самостоятельно.
                p
                    img(src='./assets/upload/image01.jpg' width='750' alt='')
                h3 Выбор материала
                ul.list.list--blue-disc
                    li
                        h5.color-blue.text-lg Эмали и лаки
                        p
                            | смеси, которые имеют практически прозрачную текстуру. Используются больше для защиты
                            |
                            | древесины от воздействия окружающей среды. Но, и цвет после покраски сменяется более выгодным оттенком.
                    li
                        h5.color-blue.text-lg Краски
                        p.
                            также защищают окрашиваемый материал от окружающей среды. Придают древесине чёткий цвет.
                            Однако существуют и такие материалы, через основной оттенок которых немного остаётся видна
                            изначальная текстура дерева.
                .attention
                    p
                        b Обратите внимание!
                        br
                        | Современные краски не особо токсичны, но лаки и эмали, даже современные, выделяют опасные
                        |
                        | запахи – при их применении рекомендуется использовать респиратор.
                p
                    | Отдельной категорией можно вынести пропитки – составы, которые не только придают изделию оттенок, но и обладают
                    |
                    | антибактериальным действием. Некоторые составы обладают огнеупорными свойствами – это огнезащитные растворы для дерева.
                    |
                    | К слову говоря, существуют и огнезащитные краски по металлу Полистил, которые применяют исключительно для металлических
                    |
                    | изделий – сопротивляются с повышенными температурами определённое время.
