extends ./templates/template

block vars
    - var pageTitle = 'Южхим: контакты'
    - var main = false
    - var pageId = 4
    - var modPage = 'contacts'

block content
    main.content
        .content__wrap
            h1 Контакты
            +contacts({
                mix: 'content__contacts'
            })
        +map({
        })
