extends ./templates/template

block vars
    - var pageTitle = 'Южхим: контакты'
    - var main = false
    - var pageId = 1

block content
    main.content
        .content__wrap
            h1.content__heading
                | Доставка и&nbsp;плата
            +delivery({
                mix: 'content__delivery'
            })
