include ./templates/head.pug

doctype html
html(lang="ru-RU")
    +head()

    .content
      .content__wrap
        ul
            li
                a(href="main.html") Главная
            li
                a(href="contacts.html") Контакты
            li
                a(href="about.html") О компании
            li
                a(href="delivery.html") Доставка и оплата
            li
                a(href="user.html") Личный кабинет
            li
                a(href="cart.html") Корзина
            li
                a(href="product.html") Продукт
            li
                a(href="articles.html") Статьи
            li
                a(href="article.html") Статья
            li
                a(href="components.html") Компоненты
