include ./templates/head.pug

doctype html
html(lang="ru-RU")
    +head()

    .content
      .content__wrap
        ul
            li
                a(href="main.html") Главная
            li
                a(href="contacts.html") Контакты
            li
                a(href="about.html") О компании
            li
                a(href="articles.html") Статьи
            li
                a(href="components.html") Компоненты
