extends ./templates/template

block vars
    - var pageTitle = 'Техальянс'
    - var main = true
    - var pageId = 1


block content
    main.content
        .content__wrap
            aside.content__aside
                +catalog({
                    mix: 'content__catalog',
                    items: catalog,
                    js: 'catalog',
                })
            .content__main
                +slider({
                    mix: 'content__slider',
                    js: 'slider',
                    items: slider,
                })
                +features({
                    mix: 'content__features',
                    items: features
                })
                .content__products
                    +tabs({
                        mix: 'content__tabs',
                        items: [
                            {
                                text: 'Хиты продаж',
                                mix: 'active'
                            },
                            {
                                text: 'Новинки',
                            },
                            {
                                text: 'Акции',
                            }
                        ],
                    })
                    .tab-1.js-content-tabs.active
                        +products({
                            items: products,
                        })
                    .tab-2.js-content-tabs
                        +products({
                            items: products1,
                        })
                    .tab-3.js-content-tabs
                        +products({
                            items: products2,
                        })
                +brends({
                    mix: 'content__brends',
                })
