extends ./templates/template

block vars
    - var pageTitle = 'Южхим'
    - var main = true
    //- - var pageId = 1

block content
    main.content.content--with-aside
        .content__wrap
            .content__main
                +slider({
                    mix: 'content__main-section',
                    js: 'slider',
                    items: slider,
                })
                +features({
                    mix: 'content__main-section',
                    items: features
                })
                .content__main-section.content__main-section--products
                    +tabs({
                        mix: '',
                        items: [
                            {
                                text: 'Хиты продаж',
                                mix: 'active'
                            },
                            {
                                text: 'Новинки',
                            },
                            {
                                text: 'Акции',
                            }
                        ],
                    })
                    .tab-1.js-content-tabs.active
                        +products({
                            items: products,
                        })
                    .tab-2.js-content-tabs
                        +products({
                            items: products1,
                        })
                    .tab-3.js-content-tabs
                        +products({
                            items: products2,
                        })
                +brends({
                    mix: 'content__main-section',
                })
            aside.content__aside
                +catalog({
                    mix: 'content__aside-section content__aside-section--catalog',
                    items: catalog,
                    js: 'catalog',
                })
                +aside-posts({
                    mix: 'content__aside-section',
                    items: aside_posts,
                })
                +aside-action({
                    mix: 'content__aside-section',
                })
    +modal({
        js: 'modal-callback',
        heading: 'Обратный звонок',
    })
        +form({
            card: true,
            user: true,
            tel: true,
            confirm: true,
            submit: 'Заказать',
        })
