extends ./templates/template

block vars
    - var pageTitle = 'Южхим'
    - var main = true
    - var modPage = 'main'
    //- - var pageId = 1

block content
    main.content.content--with-aside-bottom
        .content__wrap
            .content__main
                +main-slider({
                    mix: 'content__main-section',
                    js: 'slider',
                    items: slider,
                })
                +features({
                    mix: 'content__main-section',
                    mod: 'main',
                    items: features
                })
                .content__main-section.content__main-section--product
                    +tabs({
                        mix: '',
                        items: [
                            {
                                text: 'Хиты продаж',
                                mix: 'active'
                            },
                            {
                                text: 'Новинки',
                            },
                            {
                                text: 'Акции',
                            }
                        ],
                    })
                    .tab-1.js-content-tabs.active
                        +product-list({
                            items: products1,
                        })
                    .tab-2.js-content-tabs
                        +product-list({
                            items: products2,
                        })
                    .tab-3.js-content-tabs
                        +product-list({
                            items: products3,
                        })
                +brends({
                    mix: 'content__main-section',
                })
            aside.content__aside
                +aside-posts({
                    mix: 'content__aside-section',
                    items: aside_posts,
                })
                +aside-action({
                    mix: 'content__aside-section',
                })
