extends ./templates/template

block vars
    - var pageTitle = 'Южхим: Статьи'
    - var main = false
    - var pageId = 3

block content
    main.content.content--with-accaunt-nav
        .content__wrap
            +breadcrumbs({
                mix: 'content__breadcrumbs',
                items: ['Главная', 'Личный кабинет']
            })
            aside.content__aside
                +aside-nav({
                    mix: 'content__aside-section',
                    items: category
                })
            .content__main
                h1 Моя учетная запись
                +form({
                    group: [
                        {
                            firstName: true,
                            lastName: true,
                            modField: ['border'],
                            modGroup: 'row',
                            email: true,
                            tel: true,
                        },
                    ],
                    submit: 'Продолжить',
                })
