mixin product-tabs(data)
    +el({
        class: 'product-tabs',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        +el({
            tag: 'ul',
            class: 'product-tabs__list',
            mod: data.mod,
            mix: data.mix,
            js: data.js
        })&attributes(attributes)
            each item, index in ['Описание', 'Характеристики']
                +el({
                    tag: 'li',
                    class: 'product-tabs__item',
                })
                    +el({
                        tag: 'button',
                        class: 'product-tabs__button',
                        text: item,
                        js: 'product-tabs-button',
                        mix: index == 0 ? 'active' : '',
                    })(data-tab='tab-' + (index + 1))
        .tab-1.js-product-tabs-content.active
            .product-tabs__content
                p.
                    Полуматовая латексная краска Тиккурила Euro Matt-3 на основе акрилового сополимера.
                p.
                    Краска водостойкая Tikkurila Euro Matt-3 предназначена для высококачественной окраски оштукатуренных, бетонных, кирпичных, гипсокартонных, зашпатлеванных поверхностей в помещениях, требующих частого мытья, а также обоев, древесностружечных и древесноволокнистых плит. Краска латексная акриловая Tikkurila Euro Matt-3 особенно рекомендуется для коридоров, прихожих, кухонь и т.д. Краску Euro Matt-3 можно наносить как на новые, так и на ранее окрашенные поверхности, в том числе на старую алкидную краску.
                table.specification
                    tr
                        th Базис
                        td C
                    tr
                        th Цвета
                        td Колеруется по гамме «Тиккурила Симфония».
                    tr
                        th Степень блеска
                        td Полуматовая
                    tr
                        th Степень блеска
                        td Полуматовая
                    tr
                        th Расход
                        td Расход на 1 слой
                            br
                            | На впитывающие поверхности – 7-8 м<sup>2</sup>/л.
                            br
                            | На невпитывающие поверхности – 10-12 м<sup>2</sup>/л.
                    tr
                        th Тара
                        td 9 л
                    tr
                        th Растворитель
                        td Вода
                    tr
                        th Способ нанесения
                        td Наносится валиком, кистью или распылением. При необходимости разбавляется водой до 10% по объему.
                    tr
                        th  Время высыхания
                        td +23 °C при отн. влажн. воздуха 50 %	От пыли – 30 час.
                    tr
                        th Межслойная выдержка
                        td 2–4 часа
                    tr
                        th Стойкость к мытью
                        td Хорошая. Выдерживает более 5000 проходов щеткой.
                    tr
                        th Термостойкость
                        td Выдерживает 850С сухого тепла.
                    tr
                        th Сухой остаток
                        td Около 60% в зависимости от цвета.
                    tr
                        th Плотность
                        td Около 1,3 кг/л в зависимости от цвета.
                    tr
                        th Хранение
                        td Краску хранить и транспортировать при температуре выше 0°С, в плотно закрытой таре. Гарантийный срок хранения в невскрытой заводской упаковке 3 года со дня изготовления.
        .tab-2.js-product-tabs-content
            .product-tabs__content
                p.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Деревни даже страна текст. Вопрос рекламных, заголовок пустился пояс встретил, строчка языкового, правилами раз проектах составитель сих. Использовало обеспечивает, коварный вершину рукописи. Приставка свое сбить запятых рукопись все. Великий, правилами.
                p.
                    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предупреждал даль от всех скатился строчка заглавных, которое города. Запятой над большой домах вопрос заманивший гор. Снова прямо речью свое алфавит вопроса пунктуация моей своего, силуэт лучше снова дорогу скатился, но продолжил парадигматическая ее свой ему от всех запятой? Точках, переулка всеми.
