mixin form(data)
    +f({
        class: 'form',
    })
        .form__inner
            each item in data.group
                +el({
                    class: 'form__group',
                    mod: item.modGroup
                })
                    if item.firstName
                        +field({
                            mix: 'form__field',
                            icon: item.icon ? 'user-circle' : '',
                            mod:  item.modField,
                            label: 'Имя',
                            name: 'user',
                            placeholder: 'Имя'
                        })
                    if item.lastName
                        +field({
                            mix: 'form__field',
                            icon: item.icon ? 'user-circle' : '',
                            mod:  item.modField,
                            label: 'Фамилия',
                            name: 'user',
                            placeholder: 'Фамилия'
                        })
                    if item.email
                        +field({
                            mix: 'form__field',
                            icon: item.icon ? 'email-circle' : '',
                            mod: item.modField,
                            label: 'E-mail',
                            type: 'email',
                            name: 'email',
                            placeholder: 'E-mail'
                        })
                    if item.tel
                        +field({
                            mix: 'form__field',
                            icon: item.icon ? 'tel-circle' : '',
                            mod: item.modField,
                            label: 'Телефон',
                            type: 'tel',
                            name: 'tel',
                            placeholder: '+7(___)___-__-__'
                        })
                    if item.message
                        +field({
                            tag: 'textarea',
                            mix: 'form__field',
                            icon: item.icon ? 'message-circle' : '',
                            mod: item.modField,
                            label: 'Вопрос',
                            type: 'email',
                            name: 'message',
                            placeholder: data.message
                        })
            +el({
                class: 'form__submit-wrap',
                mod: data.modSubmit
            })
                +button({
                    mix: 'form__submit',
                    mod: ['shadow-secondary', 'large'],
                    type: 'submit',
                    text: data.submit
                })
            if data.confirm
                .form__confirm
                    +checkbox-confirm({
                        mod: 'small',
                        label: 'Согласие на обработку персональных данных',
                        required: true,
                    })
