.article {
  .date {
    margin-bottom: 15px;
  }
}

@include respond-to(medium) {
  .article {
    &--center {
      padding: 0 100px;
    }

    .date {
      margin-bottom: 20px;
    }
  }
}

@include respond-to(large) {
  .article {
    &--center {
      padding: 0 195px;
    }

    .date {
      margin-bottom: 25px;
    }
  }
}
