.article {
  .date {
    margin-bottom: 15px;
  }
}

@include respond-to(medium) {
  .article {
    .date {
      margin-bottom: 20px;
    }
  }
}

@include respond-to(large) {
  .article {
    .date {
      margin-bottom: 25px;
    }
  }
}
