.content {
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: hidden;

  &--regular {
    padding-top: 20px;
  }

  &--contacts {
    padding-bottom: 0;
  }
}

.content__wrap {
  @include wrapper;
  width: 100%;
}

.content__main {
  margin-bottom: 40px;
}

.content__main-section {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &--products {
    margin-bottom: 20px;
  }
}

.content__aside-section {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &--catalog {
    margin-top: -20px;
  }
}

.content__contacts {
  margin-bottom: 30px;
}

@include respond-to(medium) {
  .content {
    &--regular {
      padding-top: 30px;
    }

    &--contacts {
      h1 {
        margin-bottom: 24px;
      }
    }
  }

  .content__contacts {
    margin-bottom: 40px;
  }
}

// Перестраиваем сайдбар
@include respond-to(medium-lg) {
  .content {
    &--with-aside {
      .content__wrap {
        display: flex;
      }
    }
  }

  .content__aside {
    order: 1;
    width: $width-aside-md;
    margin-right: 20px;
  }

  .content__main {
    order: 2;
    width: calc(100% - #{$width-aside-md} - 20px);
  }
}

@include respond-to(large) {
  .content {
    &--regular {
      padding-top: 40px;
    }

    &--contacts {
      h1 {
        margin-bottom: 36px;
      }
    }
  }

  .content__aside {
    width: 290px;
  }

  .content__main {
    width: calc(100% - 310px);
  }

  .content__slider {
    margin-bottom: 30px;
  }

  .content__contacts {
    margin-bottom: 50px;
  }
}
