.content {
  padding-top: 20px;
  padding-bottom: 54px;
  overflow: hidden;
}

.content__wrap {
  @include wrapper;
  width: 100%;
}

.content__main {
  margin-bottom: 40px;
}

.content__main-section {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &--products {
    margin-bottom: 20px;
  }
}

.content__aside-section {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--catalog {
    margin-top: -20px;
  }
}

@include respond-to(medium-lg) {
  .content__wrap {
    display: flex;
  }

  .content__aside {
    order: 1;
    width: $width-aside-md;
    margin-right: 20px;
  }

  .content__main {
    order: 2;
    width: calc(100% - #{$width-aside-md} - 20px);
  }
}

@include respond-to(large) {
  .content__aside {
    width: 290px;
  }

  .content__main {
    width: calc(100% - 310px);
  }

  .content__slider {
    margin-bottom: 30px;
  }
}
