.page {
  &--main {
    .logo {
      pointer-events: none;
    }

    .header__catalog {
      display: block !important;
    }

    .content {
      padding-top: 20px;
    }
  }
}

.page__wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page__wrap > * {
  flex-shrink: 0;
  width: 100%;
}

.footer {
  margin-top: auto;
}

@include respond-to(medium-lg) {
  .page {
    &--main {
      .content__aside {
        padding-top: 683px !important;
      }
    }
  }
}

@include respond-to(large) {
  .page {
    &--main {
      .content__aside {
        padding-top: 630px !important;
      }
    }
  }
}
