.slick-dots {
  position: absolute;
  left: 56px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 72px;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;

  li {
    margin-bottom: 0;
  }

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: color(primary);
      border-radius: 50%;
      transition: duration(md);
    }
  }

  .slick-active {
    button {
      &::before {
        background-color: color(secondary);
      }
    }
  }
}
