.slider-button {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 24px;
  height: 24px;

  @include icon-arrow(6px, 1px, color(black), 45deg) {
    margin-left: 10px;
  }

  @include hover {
    opacity: 0.6;
  }

  &--prev {
    left: 32px;

    &::after {
      transform: rotate(-135deg);
    }
  }

  &--next {
    left: 128px;

    &::after {
      margin-left: 8px;
    }
  }
}
