.button {
  display: block;
  flex-shrink: 0;
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &--bg-primary,
  &--bg-secondary,
  &--bg-secondary-large,
  &--bg-disabled,
  &--border {
    min-height: 34px;
    color: color(white);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: radius(sm);
  }

  &:disabled,
  &--bg-disabled {
    pointer-events: none;
  }

  // &--bg-primary {
  //   background-color: color(primary);
  //
  //   @include hover {
  //     background-color: darken(color(primary), $change-color);
  //   }
  // }

  &--bg-secondary,
  &--bg-secondary-large {
    background-image: linear-gradient(#f4511e, #ff7043);
    box-shadow: 0 3px 15px 0 rgba(color(secondary), 0.8);

    @include hover {
      box-shadow: 0 0px 10px 0 rgba(color(secondary), 0.8);
      background-image: linear-gradient(#f4511e, #f4511e);
    }
  }

  &--bg-secondary {
    padding: 8px 18px;
    font-size: 14px;
    line-height: 18px;
  }

  &--bg-secondary-large {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 18px;
  }

  &--border {
    border: 1px solid color(primary);

    @include hover {
      background-color: color(primary);
      color: color(white);
    }
  }

  &--submit {
    cursor: pointer;
  }

  @include hover {
    .button__icon {
      &::after {
        transform: scale(1);
      }
    }
  }
}

.button__icon {
  display: block;
  fill: currentColor;
  width: 22px;
  width: 22px;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%) scale(0);
  //   opacity: 0.2;
  //   width: 120%;
  //   height: 120%;
  //   border-radius: 50%;
  //   background-color: currentColor;
  //   transition: transform duration(md) func(primary);
  // }
}

@include respond-to(medium) {
  .button {
    &--bg-secondary-large {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@include respond-to(medium) {
  .button {
    &--bg-secondary-large {
      padding: 13px 20px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}
