-
    var nav = [
        {
            text: 'О компании',
            href: 'about.html',
        },
        {
            text: 'Оплата и доставка ',
            href: 'delivery.html',
        },
        {
            text: 'Статьи',
            href: 'articles.html',
        },
        {
            text: 'Контакты',
            href: 'contacts.html'
        },
    ];

-
    var catalog = [
        {
            icon: 'tools',
            text: 'Инструмент',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },

                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'drill',
            text: 'Оснастка для электроинструмента',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'metiz',
            text: 'Крепеж. Метизы',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'lock',
            text: 'Замочно-скобяные изделия',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'scotch',
            text: 'Строительный расходный материал',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'putty-knife',
            text: 'Строительные материалы',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },

                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },

                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'color',
            text: 'Лакокрасочные материалы',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'chemistry',
            text: 'Строительная химия. Сухие смеси',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'roof',
            text: 'Укрывочные материалы. Кровля',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'mask',
            text: 'Средства индивидуальной защиты',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'wattering-can',
            text: 'Сад. Огород',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'rest',
            text: 'Отдых на природе',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'household',
            text: 'Товары для дома. Хозтовары',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'household',
            text: 'Товары для дома. Хозтовары',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'canister',
            text: 'Автохимия. Автотовары',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'zoo',
            text: 'Зоотовары',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
    ]

-
    var products1 = [
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
            hit: true,
            new: true,
            action: true,
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
    ]

-
    var products2 = [
        {
            image: 'product03.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
            hit: true,
            new: true,
            action: true,
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
    ]
-
    var products3 = [
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
            hit: true,
            new: true,
            action: true,
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
    ]

-
    var slider = [
        {
            image: 'slider01.jpg',
            text: 'Более <span class="slider__secondary-lg">2000</span> <br>наименований товаров <br><span class="slider__secondary">для безупречного ремонта <br>и&nbsp;строительства</span> <br>в&nbsp;одном магазине'
        },
        {
            image: 'slider02.jpg',
            text: 'Более <span class="slider__secondary-lg">2000</span> <br>наименований товаров <br><span class="slider__secondary">для безупречного ремонта <br>и&nbsp;строительства</span> <br>в&nbsp;одном магазине'
        },
    ]
-
    var features = [
        {
            icon: 'bottles',
            text: 'Широкий ассортимент товаров для хозяйственных магазинов'
        },
        {
            icon: 'procent',
            text: 'Отдельные категории цен&nbsp;для торгующих организаций'
        },
        {
            icon: 'mashine',
            text: 'Отлаженная система оперативной доставки по&nbsp;Крыму'
        },
    ]

-
    var aside_posts = [
        {
            heading: 'Внутренняя покраска деревянных изделий',
            date: '21 марта 2019',
        },
        {
            heading: 'Покраска внутренних поверхностей укрывной краской',
            date: '22 марта 2019',
        },
        {
            heading: 'Покраска наружных деревянных поверхностей',
            date: '22 марта 2019',
        },
    ]


-
    var posts = [
        {
            image: 'post01.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post02.jpg',
            heading: 'Покраска внутренних поверхностей укрывной краской',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019'
        },
        {
            image: 'post03.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post03.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post01.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post02.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post01.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post02.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post03.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
    ];

-
    var category = [
        {
            text: 'Личный кабинет',
            href: '#',
        },
        {
            text: 'Адреса доставки',
        },
        {
            text: 'История заказов',
        },
        {
            text: 'Мои заметки',
        },
        {
            text: 'Редактировать подписку',
        },
        {
            text: 'Истории платежей',
        },
        {
            text: 'Скидка оптовикам',
        },
        {
            text: 'Выйти',
        },
    ];


-
    var products_row = [
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
    ]
