-
    var nav = [
        {
            text: 'О компании',
            href: 'about.html',
        },
        {
            text: 'Оплата и доставка ',
            href: 'delivery.html',
        },
        {
            text: 'Статьи',
            href: 'articles.html',
        },
        {
            text: 'Контакты',
            href: 'contacts.html'
        },
    ];

-
    var catalog = [
        {
            icon: 'tools',
            text: 'Инструмент',
            items: [
                {
                    text: 'Инструмент',
                    items: [
                        {
                            text: 'Инструмент',
                        },
                        {
                            text: 'Инструмент',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },{
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Инструмент',
                    items: [
                        {
                            text: 'Инструмент',
                        },

                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'drill',
            text: 'Оснастка для электроинструмента',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'metiz',
            text: 'Крепеж. Метизы',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'lock',
            text: 'Замочно-скобяные изделия',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'scotch',
            text: 'Строительный расходный материал',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'putty-knife',
            text: 'Строительные материалы',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },

                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },

                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'color',
            text: 'Лакокрасочные материалы',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'chemistry',
            text: 'Строительная химия. Сухие смеси',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'roof',
            text: 'Укрывочные материалы. Кровля',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'mask',
            text: 'Средства индивидуальной защиты',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'wattering-can',
            text: 'Сад. Огород',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'rest',
            text: 'Отдых на природе',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },

        {
            icon: 'household',
            text: 'Товары для дома. Хозтовары',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'canister',
            text: 'Автохимия. Автотовары',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
        {
            icon: 'zoo',
            text: 'Зоотовары',
            items: [
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
                {
                    text: 'Далеко-далеко за словесными горами в стране',
                    items: [
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                        {
                            text: 'Далеко-далеко за словесными горами в стране',
                        },
                    ]
                },
            ]
        },
    ]

-
    var products1 = [
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
            hit: true,
            new: true,
            action: true,
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
    ]

-
    var products2 = [
        {
            image: 'product03.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
            hit: true,
            new: true,
            action: true,
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
    ]
-
    var products3 = [
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
            hit: true,
            new: true,
            action: true,
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
    ]


-
    var features = [
        {
            icon: 'bottles',
            text: 'Широкий ассортимент товаров для хозяйственных магазинов'
        },
        {
            icon: 'procent',
            text: 'Отдельные категории цен&nbsp;для торгующих организаций'
        },
        {
            icon: 'mashine',
            text: 'Отлаженная система оперативной доставки по&nbsp;Крыму'
        },
    ]

-
    var aside_posts = [
        {
            heading: 'Внутренняя покраска деревянных изделий',
            date: '21 марта 2019',
        },
        {
            heading: 'Покраска внутренних поверхностей укрывной краской',
            date: '22 марта 2019',
        },
        {
            heading: 'Покраска наружных деревянных поверхностей',
            date: '22 марта 2019',
        },
    ]


-
    var posts = [
        {
            image: 'post01.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post02.jpg',
            heading: 'Покраска внутренних поверхностей укрывной краской',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019'
        },
        {
            image: 'post03.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post03.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post01.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post02.jpg',
            heading: 'Покраска наружных деревянных поверхностей',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post01.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post02.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
        {
            image: 'post03.jpg',
            heading: 'Внутренняя покраска деревянных изделий',
            text: 'Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет определяющее значение для благоприятных',
            date: '21 марта 2019',
        },
    ];

-
    var category = [
        {
            text: 'Адреса доставки',
        },
        {
            text: 'История заказов',
        },
        {
            text: 'Мои заметки',
        },
        {
            text: 'Редактировать подписку',
        },
        {
            text: 'Истории платежей',
        },
        {
            text: 'Скидка оптовикам',
        },
        {
            text: 'Выйти',
        },
    ];


-
    var products_row = [
        {
            image: 'product02.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
    ]
-
    var categoryNav = [
        {
            text: 'Краски',
            quantity: '1171',
        },
        {
            text: 'Колеры и тонеры',
            quantity: '110',
        },
        {
            text: 'Эмали',
            quantity: '482',
        },
        {
            text: 'Грунтовки под покраску',
            quantity: '163',
        },
        {
            text: 'Лаки',
            quantity: '296',
        },
        {
            text: 'Краски',
            quantity: '1171',
        },
        {
            text: 'Колеры и тонеры',
            quantity: '110',
        },
        {
            text: 'Эмали',
            quantity: '482',
        },
        {
            text: 'Грунтовки под покраску',
            quantity: '163',
        },
        {
            text: 'Лаки',
            quantity: '296',
        },
    ];

-
    var filterBrends = [
        {
            label: 'Alpina',
            quantity: '67',
        },
        {
            label: 'Bayramix',
            quantity: '96',
        },
        {
            label: 'Beckers',
            quantity: '24',
        },
        {
            label: 'Belinka',
            quantity: '28',
        },
        {
            label: 'Colorist',
            quantity: '7',
        },
        {
            label: 'Alpina',
            quantity: '67',
        },
        {
            label: 'Bayramix',
            quantity: '96',
        },
        {
            label: 'Beckers',
            quantity: '24',
        },
        {
            label: 'Belinka',
            quantity: '28',
        },
        {
            label: 'Colorist',
            quantity: '7',
        },
    ];

-
    var filterTypeColor = [
        {
            label: 'Декоративная',
            quantity: '67',
        },
        {
            label: 'Интерьерная',
            quantity: '96',
        },
        {
            label: 'Молотковая',
            quantity: '24',
        },
        {
            label: 'Резиновая',
            quantity: '28',
        },
        {
            label: 'Фактурная',
            quantity: '7',
        },
        {
            label: 'Декоративная',
            quantity: '67',
        },
        {
            label: 'Интерьерная',
            quantity: '96',
        },
        {
            label: 'Молотковая',
            quantity: '24',
        },
        {
            label: 'Резиновая',
            quantity: '28',
        },
        {
            label: 'Фактурная',
            quantity: '7',
        },
    ];

-
    var filterColor = [
        {
            label: '<span class="filters__color" style="background-color: #ead4b5;"></span> Бежевый',
            quantity: '67',
        },
        {
            label: '<span class="filters__color" style="background-color: #ffffff; border: 1px solid #cedaef"></span> Белый',
            quantity: '96',
        },
        {
            label: '<span class="filters__color" style="background-color: #88cbff;"></span> Голубой',
            quantity: '24',
        },
        {
            label: '<span class="filters__color" style="background-color: #ff9494;"></span> Розовый',
            quantity: '28',
        },
        {
            label: '<span class="filters__color" style="background-color: #6b8bc7;"></span> Фиолетовый',
            quantity: '7',
        },
        {
            label: '<span class="filters__color" style="background-color: #ead4b5;"></span> Бежевый',
            quantity: '67',
        },
        {
            label: '<span class="filters__color" style="background-color: #ffffff; border: 1px solid #cedaef"></span> Белый',
            quantity: '96',
        },
        {
            label: '<span class="filters__color" style="background-color: #88cbff;"></span> Голубой',
            quantity: '24',
        },
        {
            label: '<span class="filters__color" style="background-color: #ff9494;"></span> Розовый',
            quantity: '28',
        },
        {
            label: '<span class="filters__color" style="background-color: #6b8bc7;"></span> Фиолетовый',
            quantity: '7',
        },
    ]


-
    var productCatalog = [
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
            hit: true,
            new: true,
            action: true,
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
        {
            image: 'product03.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '5 200',
            art: 'Арт. 68754',
            newPrice: '4 760',
        },
        {
            image: 'product01.jpg',
            heading: 'Caparol Capatect ArmaReno 700, 25 кг',
            oldPrice: '2 500',
            art: 'Арт. 68754',
            newPrice: '2 380',
        },
        {
            image: 'product02.jpg',
            heading: 'Caparol Capasilan 12,5л',
            oldPrice: '8 000',
            art: 'Арт. 68754',
            newPrice: '7 820',
        },
    ]
