include ./el.pug
include ./head.pug
include ./scripts.pug

include ../blocks/button/button.pug
include ../blocks/button-catalog/button-catalog.pug
include ../blocks/button-plus/button-plus.pug
include ../blocks/button-toggle/button-toggle.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/button-remove/button-remove.pug
include ../blocks/button-cart/button-cart.pug

include ../blocks/form/f.pug
include ../blocks/form/form.pug
include ../blocks/form-card/form-card.pug
include ../blocks/form-content/form-content.pug
include ../blocks/search/search.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/radio-button/radio-button.pug
include ../blocks/field/field.pug

include ../blocks/logo/logo.pug
include ../blocks/phone/phone.pug
include ../blocks/overlay/overlay.pug
include ../blocks/main-nav/main-nav.pug

include ../blocks/list/list.pug

include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/catalog/catalog.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/features/features.pug
include ../blocks/product-list/product-list.pug
include ../blocks/product-card/product-card.pug
include ../blocks/tabs/tabs.pug
include ../blocks/brends/brends.pug
include ../blocks/sticker/sticker.pug
include ../blocks/aside-posts/aside-posts.pug
include ../blocks/aside-action/aside-action.pug
include ../blocks/form-card/form-card.pug
include ../blocks/modal/modal.pug
include ../blocks/checkbox-confirm/checkbox-confirm.pug
include ../blocks/map/map.pug
include ../blocks/contacts/contacts.pug
include ../blocks/about/about.pug
include ../blocks/delivery/delivery.pug
include ../blocks/post-card/post-card.pug
include ../blocks/date/date.pug
include ../blocks/post-list/post-list.pug
include ../blocks/pagination/pagination.pug
include ../blocks/button-arrow/button-arrow.pug
include ../blocks/aside-nav/aside-nav.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/cart/cart.pug
include ../blocks/counter/counter.pug
include ../blocks/button-reset/button-reset.pug
include ../blocks/product-line/product-line.pug
include ../blocks/product-gallery/product-gallery.pug
include ../blocks/product-info/product-info.pug
include ../blocks/product-tabs/product-tabs.pug
include ../blocks/product/product.pug
include ../blocks/price-old/price-old.pug
include ../blocks/price-new/price-new.pug
include ../blocks/product-image/product-image.pug
