include ./include
include ./data

block vars
    - var pageTitle = 'Title'
    - var main = false

doctype html
html(lang="ru-RU")
    block head
        +head()

    +el({
        tag: 'body',
        class: 'page',
        mod: main ? 'main' : ''
    })
        .page__wrap
            block icon
            block header
                +header({})
            block intro
            block content
            block footer
                +footer({})
            block scripts
                +scripts()
