$li-pad-sm: 14px;
$li-pad-md: 15px;
$li-pad-lg: 16px;

$disc-size-sm: 5px;
$disc-size-md: 5px;
$disc-size-lg: 6px;

$disc-top-sm: 9px;

ul,
ol {
  margin: 0;
  padding: 0;
  margin-bottom: mb(sm) - 4px;
}

li {
  margin: 0;
  margin-bottom: 4px;
  list-style-position: inside;
}

ul {
  li {
    position: relative;
    list-style: none;
    text-indent: $li-pad-sm;
    list-style-type: none;

    *:not(*:first-child) {
      text-indent: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: $disc-top-sm;
      width: $disc-size-sm;
      height: $disc-size-sm;
      border-radius: 50%;
      background-color: color(dark-primary);
    }
  }

  &.red-disc {
    li {
      &::before {
        background-color: color(secondary);
      }
    }
  }

  &.blue-disc {
    li {
      &::before {
        background-color: color(primary);
      }
    }
  }
}


@include respond-to(medium) {
  ul,
  ol {
    margin-bottom: mb(md) - 5px;
  }

  li {
    margin-bottom: 5px;
  }

  ul {
    li {
      text-indent: $li-pad-md;

      &::before {
        width: $disc-size-md;
        height: $disc-size-md;
      }
    }
  }
}

@include respond-to(large) {
  ul,
  ol {
    margin-bottom: mb(lg) - 6px;
  }

  li {
    margin-bottom: 6px;
  }

  ul {
    li {
      text-indent: $li-pad-lg;

      &::before {
        width: $disc-size-lg;
        height: $disc-size-lg;
      }
    }
  }
}
