.tabs {
  display: flex;
  flex-wrap: wrap;
  @include list-none;
}

.tabs__item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.tabs__button {
  position: relative;
  padding: 6px;
  font-family: font(secondary);
  font-size: 16px;
  font-weight: 400;
  outline: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 6px;
    right: 6px;
    height: 3px;
    background-color: color(secondary);
    opacity: 0;
    transition: duration(md);
  }

  &.active {
    color: color(dark-primary);

    &::after {
      opacity: 1;
    }
  }
}

@include respond-to(620px) {
  .tabs__item {
    margin-right: 20px;
  }

  .tabs__button {
    font-size: 20px;
  }
}

@include respond-to(medium) {
  .tabs__item {
    margin-right: 30px;
  }

  .tabs__button {
    font-size: 22px;
  }
}

@include respond-to(large) {
  .tabs__item {
    margin-right: 45px;
  }

  .tabs__button {
    font-size: 24px;
  }
}
