mixin button-catalog(data)
    +el({
        tag: 'button',
        class: 'button-catalog',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
        text: data.text,
    })&attributes(attributes)
