mixin search(data)
    +el({
        class: 'search',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +f({})
            +field({
                type: 'search',
                mod: ['with-button', 'button-primary-light', 'shadow', 'bg-light'],
                placeholder: 'Поиск',
                button: {
                    type: 'submit',
                    icon: 'search',
                    mod: 'submit',
                    js: 'submit-search'
                }
            })
