.search {
  position: relative;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: color(light-primary);

  .button__icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: color(dark-primary);
  }

  @include hover {
    background-color: darken(color(light-primary), 5%);
  }
}
