mixin search(data)
    +el({
        class: 'search',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +form({})
            +field({
                type: 'search',
                mix: 'search__field',
                mod: 'with-button',
                placeholder: 'Поиск',
                button: {
                    type: 'submit',
                    icon: 'search',
                    mod: 'submit',
                    js: 'submit-search'
                }
            })
