mixin features(data)
    +el({
        tag: 'ul',
        class: 'features',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        each item in data.items
            +el({
                tag: 'li',
                class: 'features__item',
            })
                +el({
                    class: 'features__icon-wrap',
                })
                    +el({
                        tag: 'svg',
                        class: 'features__icon',
                        icon: item.icon,
                    })
                +el({
                    class: 'features__text',
                    text: item.text
                })
