blockquote {
  position: relative;
  margin: 0;
  margin-bottom: mb(sm);
  padding-left: mb(sm);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 2px;
    background-color: color(primary);
  }
}

@include respond-to(medium) {
  blockquote {
    margin-bottom: mb(md);
    padding-left: mb(md);
  }
}

@include respond-to(large) {
  blockquote {
    margin-bottom: mb(lg);
    padding-left: mb(lg);
  }
}
