p {
  margin: 0;
  margin-bottom: $text-margin-bottom;
  font-family: font(primary);
  font-size: 14px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
}

@include respond-to(medium) {
  p {
    font-size: 15px;
  }
}

@include respond-to(large) {
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
