p {
  margin: 0;
  margin-bottom: mb(sm);
  font-family: font(primary);
  font-size: 14px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
}

@include respond-to(medium) {
  p {
    font-size: 15px;
    margin-bottom: mb(md);
  }
}

@include respond-to(large) {
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: mb(lg);
  }
}
