table {
  width: 100%;
  margin-bottom: $text-margin-bottom;
  border-collapse: collapse;
}

th,
td {
  width: 2%;
  padding: 12px;
  border: 1px solid color(light-gray);
}

th {
  background-color: color(light);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

td {

}

@include respond-to(medium) {
  th,
  td {
    padding: 16px;
  }
}

@include respond-to(large) {

}
