table {
  width: 100%;
  margin-bottom: mb(sm);
  border-collapse: collapse;
}

th,
td {
  width: 2%;
  padding: 12px;
  border: 1px solid color(light-gray);
}

th {
  background-color: color(light);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

td {

}

@include respond-to(medium) {
  table {
    margin-bottom: mb(md);
  }

  th,
  td {
    padding: 16px;
  }
}

@include respond-to(large) {
  table {
    margin-bottom: mb(lg);
  }
}
