ul,
ol {
  margin: 0;
  padding: 0;
  margin-bottom: mb(sm) - 4px;
  list-style: none;
}

li {
  margin: 0;
  margin-bottom: 4px;
  list-style-position: inside;
}

ol {
  padding: 0;
  counter-reset: ol;
}

ol li:before {
  counter-increment: ol;
  content: counter(ol) ". ";
}

ul li {
  list-style-type: disc;
}

@include respond-to(medium) {
  ul,
  ol {
    margin-bottom: mb(md) - 5px;
  }

  li {
    margin-bottom: 5px;
  }
}

@include respond-to(large) {
  ul,
  ol {
    margin-bottom: mb(lg) - 6px;
  }

  li {
    margin-bottom: 6px;
  }
}
