mixin product-gallery(data)
    +el({
        class: 'product-gallery',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        +el({
            class: 'product-gallery__list',
            mod: 'main',
            js: 'product-gallery'
        })
            each item in data.main
                +el({
                    class: 'product-gallery__item',
                })
                    +product-image({
                        image: item,
                        mix: 'product-gallery__image',
                    })
        +el({
            class: 'product-gallery__list',
            mod: 'preview',
            js: 'product-gallery-preview'
        })
            each item in data.aside
                +el({
                    class: 'product-gallery__item',
                })
                    +product-image({
                        tag: 'button',
                        image: item,
                        mix: 'product-gallery__image',
                    })(tabindex='0')
