mixin products-item(data)
    +el({
        class: 'products-item',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        +el({
            tag: 'a',
            href: data.href,
            class: 'products-item__image-wrap',
        })
            img.products-item__image(src='./assets/upload/' + data.image, alt='')
        +el({
            class: 'products-item__content',
        })
            +el({
                tag: 'h3',
                class: 'products-item__heading',
                text: data.heading,
            })
            +el({
                class: 'products-item__bottom',
            })
                +el({
                    class: 'products-item__row',
                })
                    +el({
                        class: 'products-item__old-price',
                        text: data.oldPrice,
                    })
                    +el({
                        class: 'products-item__art',
                        text: data.art,
                    })
                +el({
                    class: 'products-item__row',
                })
                    +el({
                        class: 'products-item__new-price',
                        text: data.newPrice,
                    })
                    +button({
                        mod: 'bg-secondary',
                        class: 'products-item__button',
                        text: 'В корзину',
                    })
