.product-list {
  padding: 0;
  margin: 0;
}

.product-list__item {
  margin-bottom: 20px;
  list-style: none;
}

@include respond-to(520px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .product-list__item {
    width: 50%;
    padding: 0 10px;
  }
}

@include respond-to(1120px) {
  .product-list__item {
    width: 33.33%;
  }
}
