mixin map(data)
    +el({
        class: 'map',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
        id: 'map'
    })
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

        script.
            ymaps.ready(function () {
              var map = new ymaps.Map('map', {
                center: [44.972186, 34.142610],
                zoom: 18,
                scrollZoom: false,
                controls: [],
              }, {
                searchControlProvider: 'yandex#search',
                yandexMapDisablePoiInteractivity: true,

              }),
              Placemark = new ymaps.Placemark([44.972186, 34.142610], {
                balloonContent: 'Республика Крым, 295022 г. Симферополь, ул. Глинки, 55',
                iconContent: '<div class="map__caption" >г. Симферополь, ул. Глинки, 55</div>'
              }, {
                iconLayout: 'default#imageWithContent',
                iconImageSize: [50, 50],
                iconImageOffset: [-10, -55],
                iconImageHref: '',
              });

              map.geoObjects.add(Placemark);
              map.behaviors.disable('scrollZoom');
              map.controls.add('zoomControl');
              map.controls.get('zoomControl').options.set('size', 'small');
            });
