mixin pagination(data)
    +el({
        class: 'pagination',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        +button-control({
            mod: 'prev',
            title: 'Назад'
        })
        +el({
            tag: 'ul',
            class: 'pagination__list',
        })
            li.pagination__item.active
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '1',
                })
            li.pagination__item
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '2',
                })
            li.pagination__item
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '3',
                })
            li.pagination__item
                +el({
                    tag: 'span',
                    text: '...',
                })
            li.pagination__item
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '6',
                })
        +button-control({
            mod: 'next',
            title: 'Вперед'
        })
