mixin pagination(data)
    +el({
        class: 'pagination',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })&attributes(attributes)
        +arrow({
            tag: 'button',
            mod: 'left',
            mix: 'pagination__button disabled',
            title: 'Назад'
        })(tabindex='0')
        +el({
            tag: 'ul',
            class: 'pagination__list',
        })
            li.pagination__item.active
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '1',
                })
            li.pagination__item
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '2',
                })
            li.pagination__item
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '3',
                })
            li.pagination__item
                +el({
                    tag: 'span',
                    text: '...',
                })
            li.pagination__item
                +el({
                    tag: 'a',
                    class: 'pagination__link',
                    text: '6',
                })
        +arrow({
            tag: 'button',
            mod: 'right',
            mix: 'pagination__button',
            title: 'Вперед'
        })(tabindex='0')
