mixin counter(data)
    +el({
        class: 'counter',
        mod: data.mod,
        mix: data.mix,
        js: 'counter',
    })&attributes(attributes)
        .counter__inner
            +el({
                tag: 'button',
                class: 'counter__label',
                mod: 'minus',
                js: 'counter-minus'
            })
            +el({
                tag: 'label',
                class: 'counter__label',
                mod: 'value',
            })
                +el({
                    tag: 'input',
                    class: 'hidden',
                    type: 'number',
                    value: '1',
                    name: "quantity",
                    js: 'counter-value'
                })
                +el({
                    tag: 'span',
                    class: 'counter__value',
                    text: '1',
                    js: 'counter-input'
                })
            +el({
                tag: 'button',
                class: 'counter__label',
                mod: 'plus',
                js: 'counter-plus'
            })
