mixin counter(data)
    +el({
        class: 'counter',
        mod: data.mod,
        mix: data.mix,
        js: 'counter',
    })&attributes(attributes)
        .counter__inner
            +el({
                tag: 'button',
                class: 'counter__label',
                mod: 'minus',
                js: 'counter-down'
            })
            +el({
                tag: 'label',
                class: 'counter__label',
                mod: 'input',
            })
                +el({
                    tag: 'input',
                    class: 'counter__input',
                    js: 'counter-input',
                    value: '1',
                })(step='1', min='0', max='100', data-price=data.price, data-price-sum='', data-count='1', readonly)
            +el({
                tag: 'button',
                class: 'counter__label',
                mod: 'plus',
                js: 'counter-up'
            })
