mixin icon(data)
    if data.icon
        +el({
            tag: 'svg',
            class: 'icon',
            icon: data.icon,
            mix: data.mix,
            mod: data.mod
        })&attributes(attributes)
