.logo {
  text-decoration: none !important;

  &--footer {
    width: 200px;
    height: 54px;

    .logo__image {
      width: 200px;
      height: 54px;
    }
  }
}

.logo,
.logo__image {
  display: block;
  width: 240px;
  height: 65px;
}

@include respond-to(medium) {


}

@include respond-to(large) {
  .logo {
    &--footer {
      width: 225px;
      height: 63px;

      .logo__image {
        width: 220px;
        height: 60px;
      }
    }
  }

  .logo,
  .logo__image {
    width: 278px;
    height: 76px;
  }
}
