mixin product-card(data)
    +el({
        class: 'product-card',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        if data.hit || data.new || data.action
            .product-card__sticker-wrap
                if data.hit
                    +sticker({
                        mix: 'product-card__sticker',
                        mod: 'hit',
                        text: 'Хит'
                    })
                if data.new
                    +sticker({
                        mix: 'product-card__sticker',
                        mod: 'new',
                        text: 'Новинка'
                    })
                if data.action
                    +sticker({
                        mix: 'product-card__sticker',
                        mod: 'action',
                        text: 'Акция'
                    })
        +product-image({
            tag: 'a',
            href: data.href,
            mix: 'product-card__image-wrap',
            image: data.image
        })
        +el({
            class: 'product-card__content',
        })
            +el({
                tag: 'h3',
                class: 'product-card__heading',
                before: {
                    tag: 'a',
                    class: 'product-card__heading-link',
                    href: data.href,
                    text: data.heading,
                }
            })
            +el({
                class: 'product-card__bottom',
            })
                +el({
                    class: 'product-card__row',
                })
                    +price-old({
                        mix: 'product-card__price-old',
                        mod: 'small',
                        value: data.oldPrice,
                    })
                    +el({
                        class: 'product-card__art',
                        text: data.art,
                    })
                +el({
                    class: 'product-card__row',
                })
                    +price-new({
                        mix: 'product-card__price-new',
                        mod: 'small',
                        value: data.newPrice,
                    })
                    +button({
                        mod: ['shadow-secondary', 'small'],
                        mix: 'product-card__button',
                        text: 'В корзину',
                    })
