.main-slider__item {
  min-height: 210px;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px solid #e1e8f4;
  background-color: color(light-primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.main-slider__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.main-slider__text {
  width: 250px;
  color: color(dark-primary);
  font-family: font(secondary);
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.main-slider__secondary-lg,
.main-slider__secondary {
  color: color(secondary);
  font-weight: 900;
}

.main-slider__secondary-lg {
  font-size: 34px;
}

@include respond-to(520px) {
  .main-slider__item {
    height: 250px;
    padding-bottom: 75px;
  }

  .main-slider__text {
    width: 280px;
    font-size: 20px;
    line-height: 1.4;
  }
}

@include respond-to(medium) {
  .main-slider__item {
    height: 320px;
  }

  .main-slider__text {
    width: 350px;
    font-size: 24px;
  }

  .main-slider__secondary-lg {
    font-size: 40px;
  }
}

@include respond-to(980px) {
  .main-slider__item {
    height: 320px;
  }

  .main-slider__text {
    width: 350px;
    font-size: 26px;
  }

  .main-slider__secondary-lg {
    font-size: 46px;
  }
}

@include respond-to(large) {
  .main-slider__item {
    height: 370px;
    padding: 35px;
    padding-bottom: 100px;
    background-position: center;
  }

  .main-slider__text {
    width: 400px;
    font-size: 30px;
  }

  .main-slider__secondary-lg {
    font-size: 50px;
  }
}
