mixin delivery(data)
    +el({
        class: 'delivery',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .delivery__wrap
            .line
                +el({
                    tag: 'h2',
                    text: 'Доставка',
                    class: 'delivery__heading'
                })
            .delivery__row
                .delivery__col.delivery__col--left
                    +el({
                        tag: 'h4',
                        text: 'Выполняем доставку в&nbsp;Республике Крым по&nbsp;следующим направлениям:',
                        class: 'delivery__subheading delivery__subheading--two-line'
                    })

                    ul.red-disc
                        li Пионерское-Доброе-Заречное-Перевальное-Алушта-Партенит-Никита-Ялта;
                        li Пионерское-Доброе-Заречное-Перевальное-Алушта-Партенит-Никита-Ялта;
                        li Чистенькое-Бахчисарай-Инкерман-Севастополь;
                        li Дубки-Кольчугино-Николаевка-Вилино;
                        li Грэсовский-Школьное-Скворцово-Саки-Евпатория;
                        li Гвардейское-Октябрьское-Красногвардейское-Джанкой;
                        li Зуя-Белогорск-Старый Крым-Феодосия-Приморский-Ленино-Керчь;
                        li Советский-Нижнегоский.


                .delivery__col.delivery__col--right
                    +el({
                        tag: 'h4',
                        text: 'Правила доставки товаров:',
                        class: 'delivery__subheading delivery__subheading--two-line'
                    })
                    ul.blue-disc
                        li Доставка осуществляется с&nbsp;понедельника по&nbsp;пятницу с&nbsp;9:00 до&nbsp;18:00.
                        li Доставка осуществляется в соответствии с графиком согласованным с клиентом.
                        li Если позиция заказная, то&nbsp;срок доставки обсуждается с&nbsp;менеджерами.
                        li Если Вам нужна консультация по&nbsp;доставке, свяжитесь с&nbsp;нами по&nbsp;телефону: +7 (978) 840-01-80 и&nbsp;мы&nbsp;согласуем стоимость и&nbsp;сроки доставки индивидуально.
                        li Доставка постоянным клиентам&nbsp;&mdash; минус&nbsp;2% от&nbsp;суммы заказа.
            .line
                +el({
                    tag: 'h2',
                    text: 'Оплата',
                    class: 'delivery__heading'
                })
            .delivery__row
                .delivery__col.delivery__col--left
                    +el({
                        tag: 'h4',
                        text: 'Виды оплаты:',
                        class: 'delivery__subheading'
                    })
                    ul.blue-disc
                        li Наличными курьеру;
                        li Безналичный расчет через банк;
                        li Оплата по выставленному счету (для юр. лиц).
                .delivery__col.delivery__col--right
                    +el({
                        tag: 'h4',
                        text: 'Оформление заказа по&nbsp;телефону:',
                        class: 'delivery__subheading'
                    })
                    +el({
                        tag: 'a',
                        class: 'delivery__phone',
                        href: 'tel:+79788400180',
                        text: '+7 (978) 840-01-80'
                    })
